//Design
    //Colors
        //Red
        $red: #990033;
        //Green
        $green: #DBFF33;
    //Fonts
        $rubik-font: 'Rubik', sans-serif;


// mobile
$mobile: "only screen and (max-width: 500px)";

//tablet
$tablet: "only screen and (max-width: 800px)";